whisper
reportlab
opencv-python
numpy
chromadb
easyocr
tensorflow
torch
open_clip_torch  # Corrected package name for open_clip
Pillow
PyPDF2
python-pptx
python-docx
nltk
transformers
tqdm
Django
djangorestframework
django-cors-headers
uvicorn
python-decouple