whisper
reportlab
opencv-python
numpy
chromadb
easyocr
tensorflow
torch
open_clip_torch  
Pillow
PyPDF2
python-pptx
python-docx
nltk
transformers
tqdm
Django
djangorestframework
django-cors-headers
uvicorn
python-decouple
psycopg2-binary
gunicorn
djangorestframework-simplejwt